body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #005f6b;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

button a {
  color: white;
  text-decoration: none;
}

#servicios {
  padding: 20px;
  text-align: center;
}

.service {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#contacto {
  padding: 20px;
  background-color: #e2e2e2;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
